<app-settingsheader></app-settingsheader>


<div class="container p-0">
    

    <div class="row">
        <div class="col-md-5 col-xl-4">
                

                <app-sidenav4settings></app-sidenav4settings>
            
        </div>

        <div class="col-md-7 col-xl-8">
           
                

                    <div class="card">
                        <div class="card-header">
                            
                            <h5 class="card-title mb-0">Account Info</h5>
                            <div *ngIf="(usertype==='super_admin')||(usertype==='admin')">
                            <button (click) = toggleDisplay() style="position: absolute; right:89px;">Change data</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div *ngIf="!isShow">
                            Profile Name: {{Account_name}}
                            <hr>
                            MWS Authtoken: {{Mws_Authtoken}}
                            <hr>
                            Merchant ID: {{Merchant_ID}}
                            <hr>
                            Advertising Token: {{Advertising_Token}}
                            <hr>
                            </div>
                            
                            

                            <div *ngIf="isShow">
                            

                                <form [formGroup]="changeDataForm"  >

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <!-- Validator on this field to force them to put in the old password  we already have a pre made endpoint  -->
                                                
                                                 <label for="inputUsername">Profile Name: </label>
                                                <input class="input1" matInput type="text" id="profile_name" [(ngModel)]="Account_name" autocomplete="off" formControlName="profile_name" >
                                                <div class="text-danger" *ngIf ="f.profile_name.invalid && (f.profile_name.dirty || f.profile_name.touched)" style="font-size: small;">Profile name is already taken</div>
                                            </div>

                                            <div class="form-group">
                                                
                                                 <label for="inputUsername">MWS Authtoken </label>
                                                <input class="input1" matInput type="text" id="mws_authtoken" [(ngModel)]="Mws_Authtoken" autocomplete="off" formControlName="mws_authtoken" >
                                                <div class="text-danger" *ngIf ="f.mws_authtoken.invalid && (f.mws_authtoken.dirty || f.mws_authtoken.touched)" style="font-size: small;">Mws Authtoken is already taken</div>
                                            </div>

                                            <div class="form-group">
                                                
                                                
                                                 <label for="inputUsername">Merchant ID: </label>
                                                <input class="input1" matInput type="text" id="merchant_id" [(ngModel)]="Merchant_ID" autocomplete="off" formControlName="merchant_id" >
                                                <div class="text-danger" *ngIf ="f.merchant_id.invalid && (f.merchant_id.dirty || f.merchant_id.touched)" style="font-size: small;">Merchant id is already taken</div>
                                            </div>

                                            <div class="form-group">
                                               
                                                
                                                 <label for="inputUsername">Advertising Token: </label>
                                                <input class="input1" matInput type="text" id="advertising_token" [(ngModel)]="Advertising_Token" autocomplete="off" formControlName="advertising_token" >
                                                <div class="text-danger" *ngIf ="f.advertising_token.invalid && (f.advertising_token.dirty || f.advertising_token.touched)" style="font-size: small;">Advertising token is already taken</div>
                                            </div>
                                        
                                            <ng-template #content let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                  <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <form form [formGroup]="changeDataForm" (ngSubmit)="ChangeData()">
                                                    <label for="inputUsername">Enter password to confrim changes : </label>
                                                    <input class="input1" matInput type="password" id="password"  autocomplete="off" formControlName="password" required>
                                                  </form>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-outline-dark" (click)='ChangeData()' [disabled]="!changeDataForm.valid"  (click)="d('Cross click')">Save</button>
                                                </div>
                                              </ng-template>
                                           
                                        </div>
                                        <div class="col" style="right:-200px;">
                                            
                                        </div>
                                      </div>

                                    
                                  
                                   
                                    <div class=row></div>
                                    <button class="btn btn-custom" mat-raised-button color="primary" type="submit" style='top:60px' button type="submit" id="myBtn" (click)="open(content)" >Submit</button>

                                  </form>








                            </div>
                          

                        </div>
                    </div>

                   

                
        
            
        </div>
    </div>

</div>
