<div class="navbar">
    <a href="#home"><p><a style="color:#b30404;">AMAZON </a> <a style="color:#ff7b00;"> METRIX</a></p></a>
    <a href="#news"></a>
    <a class="
        " data-widget="control-sidebar"  data-slide="true" href="#" style="left:80px">
            <div class="dropdown dropleft">
                <i id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                  class="fas fa-cog"></i> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     
                      <a class="dropdown-item" (click)="logout()"> logout </a>
                    
                    </div>
            </div>
        </a> 
  </div>
  



  <div class="flex-container">
    <div class="flex-item">
   
      
   
  
  
  
    <p class="badge" style="align-items: left;">Garnering your data! </p>
    <p class="badge" style="align-items: left;">We will send you an email upon </p>
    <p class="badge" style="align-items: left;">completion! </p>
    
   
  </div>
  
  
  </div>
