.main-header{
    // height:40px;
    background-color:white;


} 
.navbar-nav {
    color:#496184
}

.navbar-nav .nav-link{
    color:#496184;
    font-size:20px;
    margin-top:0px;
}

.navbar-nav .nav-item{
    size: 1px;
    color:#496184
}


.fas{
    color:#b30404;
    font-size:20px;
    margin-left:6px ;
  
}


// applied in html file
.main-header .navbar .navbar-expand .navbar-white .navbar-light{
    
    
}