<div class="flex-container">
    <div class="flex-item">
   
      <div class="header-center">
        <p><a style="color:#b30404;">AMAZON </a> <a style="color:#ff7b00;"> METRIX</a></p>
      </div>
   
  
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
  
        
        <label class="badge" style="align-items: left;">New Password</label>
        <input class="input1" matInput type="password" id="new_password" placeholder="" autocomplete="off" formControlName="new_password" required>
        <div class="text-danger" *ngIf ="f.new_password.invalid && (f.new_password.dirty || f.new_password.touched)" style="font-size: small;">Password must be 8 Characters long</div>
       
      
        <button class="btn btn-custom" mat-raised-button color="primary" type="submit" style='top:70px;'[disabled]="!resetForm.valid">Submit</button>
  
      
  
      </form>
      
       
       
      
  </div>
  
  
  
  </div>
  
