<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:white;
}

li {
  float: left;
}

li a {
  display: block;
  color:#b30404;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}
</style>
</head>
<body>

<ul>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
  <li><a routerLink="/pricingpage" routerLinkActive="active">Pricing</a></li>
</ul>

</body>
</html>
